## Example env for backend
# Copy to .env and set your secret

# Database
DATABASE_URL=postgresql://portfolio_builder_bdd_user:2ttYsFLs3KHY3WApN20ZOVPF7AdSH7LT@dpg-d5mfmin5r7bs73d4dl2g-a.virginia-postgres.render.com/portfolio_builder_bdd



# JWT
JWT_SECRET=portfolio-builder-hopital-singe-2026
JWT_EXPIRES_IN=30m

# SMTP Outlook / Office365
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=nessia.bouchouit@ccicampus.fr
SMTP_PASS=Qrrw9294


SMTP_SECURE=false

NODE_ENV=development
PORT = 10000