## Example env for backend
# Copy to .env and set your secret

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/portfolio_db

# JWT
JWT_SECRET=portfolio-builder-hopital-singe-2026
JWT_EXPIRES_IN=7d

# SMTP Outlook / Office365
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=nessia.bouchouit@ccicampus.fr
SMTP_PASS=Qrrw9294

# Optionnel
SMTP_SECURE=false

